/* ============== DESIGN TOKENS ============== */

/* ============ TYPOGRAPHY ============ */

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import './container.scss';
@import './body.scss';
@import './title.scss';
@import './utilities.scss';
@import './text.scss';

.wrap {
  white-space: pre-wrap;
}

.divider {
  height: 0.5px;
  background-color: $primary;
  width: 100%;
  max-width: 1440px;
  opacity: 0.5;
  margin: 0 auto;
}

.link {
  color: $primary;
  transition: color 0.25s ease-in-out;
  text-decoration: none;

  &:hover {
    color: $primary;
  }

  &:visited {
    text-decoration: none;
  }
}

.v-spacing {
  margin-bottom: $verticalSpacing;

  @media screen and (max-width: $tablet) {
    margin-bottom: map-get($vsBreakPoints, $tablet);
  }

  @media screen and (max-width: $mobile) {
    margin-bottom: map-get($vsBreakPoints, $mobile);
  }

  @media screen and (max-width: $mobilePortrait) {
    margin-bottom: map-get($vsBreakPoints, $mobilePortrait);
  }
}

.h-spacing {
  margin-left: $horizontalBleeds;
  margin-right: $horizontalBleeds;

  @media screen and (max-width: $tablet) {
    margin-left: map-get($hsBreakPoints, $tablet);
    margin-right: map-get($hsBreakPoints, $tablet);
  }

  @media screen and (max-width: $mobile) {
    margin-left: map-get($hsBreakPoints, $mobile);
    margin-right: map-get($hsBreakPoints, $mobile);
  }

  @media screen and (max-width: $mobilePortrait) {
    margin-left: map-get($hsBreakPoints, $mobilePortrait);
    margin-right: map-get($hsBreakPoints, $mobilePortrait);
  }
}

// for keeping content spacing consistent on full width elements
.h-spacing-fw {
  padding-left: $horizontalBleeds;
  padding-right: $horizontalBleeds;

  @media screen and (max-width: $tablet) {
    padding-left: map-get($hsBreakPoints, $tablet);
    padding-right: map-get($hsBreakPoints, $tablet);
  }

  @media screen and (max-width: $mobile) {
    padding-left: map-get($hsBreakPoints, $mobile);
    padding-right: map-get($hsBreakPoints, $mobile);
  }

  @media screen and (max-width: $mobilePortrait) {
    padding-left: map-get($hsBreakPoints, $mobilePortrait);
    padding-right: map-get($hsBreakPoints, $mobilePortrait);
  }
}

.centered {
  justify-content: center; // for elements with "display: flex"
  text-align: center;
}

.multiline-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
