/* Variables are prepended with sass configuration in next.config.js so
 that it's injected to all files, unlike imports on _app.tsx */

/* ============ DESIGN TOKEN VARIABLES ============ */

/* ======== Colours ======== */
$colPrimary: #b16269;
$colSecondary: #7d9fb4;

/* ======== Gradients ======== */
$gradPrimary: linear-gradient(90deg, $colPrimary, $colSecondary);

/* ======== Shadows ======== */
$lightShadow: 4px 6px 8px 0px #00000014;

/* ======== Fonts ======== */
$displayFont: 'Times New Roman';
$bodyFont: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu,
  Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

/* ======== Transitions ======== */
$hover: 0.35s ease-out; // when using var, prefix with the property e.g. transition: opacity $hover;

/* ============ CUSTOM VARIABLES ============ */
// Define custom variables here...
