/* Variables are prepended with sass configuration in next.config.js so
 that it's injected to all files, unlike imports on _app.tsx */

@import './colors.scss';

/* ======== Gradients ======== */
$gradPrimary: linear-gradient(90deg, $primary, $secondary);

/* ======== Shadows ======== */
$lightShadow: 4px 6px 8px 0px #00000014;

/* ======== Fonts ======== */
$displayFont: 'Manrope', 'Calibri', 'Arial', sans-serif;
$bodyFont: 'Manrope', 'Calibri', 'Arial', sans-serif;

/* ======== Transitions ======== */
$hover: 0.35s ease-out; // when using var, prefix with the property e.g. transition: opacity $hover;

/* ======== layout ======== */
$horizontalBleeds: 40px;
$verticalSpacing: 160px;
$mobileBleeds: 16px;
$maxWidth: 1216px + $mobileBleeds + $mobileBleeds;
$navbarHeight: 100px;
$tabsHeight: 82px;
$navGap: 56px;
$radius: 40px;

/* ======== Breakpoints ======== */
$mobilePortrait: 478px;
$mobile: 768px;
$tablet: 990px;
$laptop: 1080px;
$desktop: $maxWidth;
$desktopLarge: 1440px;
$desktopExtraLarge: 1920px;

/* ======== Sectional Spacing ======== */
$hsBreakPoints: (
  $mobilePortrait: 20px,
  $mobile: 40px,
  $tablet: 100px,
  $desktop: 40px,
  $desktopLarge: 40px,
  $desktopExtraLarge: 40px
);

$vsBreakPoints: (
  $mobilePortrait: 60px,
  $mobile: 80px,
  $tablet: 100px,
  $desktop: 140px,
  $desktopLarge: 140px,
  $desktopExtraLarge: 140px
);

/* ============ CUSTOM VARIABLES ============ */
$blurredBackdrop: rgba($primary, 0.3);
$transition: all 0.4s ease-in-out;
$gridColumnSpacing: 72px;
$gridRowSpacingS: 12px;
$gridRowSpacingSx: 6px;
$blur: blur(12.5px);
$navSpacing: 28px;
$height-default: 852px;
$height-medium: 648px;
$height-small: 550px;
$circle-hero-pt: 300px;

// Spacing
$xlSpacing: 80px;
$lgSpacing: 40px;
$mdSpacing: 24px;
$smSpacing: 16px;
$xsSpacing: 8px;

$xxlSpacing: 160px;
$xxsSpacing: 4px;

$sectionSpacingXl: 136px;
$sectionSpacingL: 128px;
$sectionSpacingS: 32px;
$sectionSpacing: 96px;
