.container {
  transition: $transition;
  align-content: center;
  height: $navbarHeight;
  position: fixed;
  display: flex;
  width: 100%;
  z-index: 9;
  left: 0;
  top: 0;

  .nav-links {
    display: flex;
    column-gap: 30px;

    .link {
      color: #fff;
    }
  }

  &.scrolled {
    background-color: $primary;
  }
}
